﻿@model A1Clubs.Models.Country
@{
    ViewData["Title"] = "Update Country Record";
}

<h1>@ViewBag.title</h1>

<h4>Country</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountryCode" />
            <input type="text" asp-for="CountryCode" readonly="readonly" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalPattern" class="control-label"></label>
                <input asp-for="PostalPattern" class="form-control" />
                <span asp-validation-for="PostalPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhonePattern" class="control-label"></label>
                <input asp-for="PhonePattern" class="form-control" />
                <span asp-validation-for="PhonePattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederalSalesTax" class="control-label"></label>
                <input asp-for="FederalSalesTax" class="form-control" />
                <span asp-validation-for="FederalSalesTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceTerminology" class="control-label"></label>
                <input asp-for="ProvinceTerminology" class="form-control" />
                <span asp-validation-for="ProvinceTerminology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
