﻿@model IEnumerable<A1Clubs.Models.NameAddress>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @TempData["SuccessMsg"]
</p>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAddressId)
            </td>
            @if ((string.IsNullOrWhiteSpace(item.FirstName)) && string.IsNullOrWhiteSpace(item.LastName))
            {
                <td>
                </td>
            }
            else if ((string.IsNullOrWhiteSpace(item.FirstName)) && !string.IsNullOrWhiteSpace(item.LastName))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            }
            else if ((!string.IsNullOrWhiteSpace(item.FirstName)) && string.IsNullOrWhiteSpace(item.LastName))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
            }
            else 
            {
        <td>
            @Html.DisplayFor(modelItem => item.LastName),@Html.DisplayFor(modelItem => item.FirstName)
        </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.NameAddressId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NameAddressId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NameAddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
