﻿@model  A1Clubs.Models.Style

@{
    ViewData["Title"] = "Details of a Style record";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StyleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StyleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="@Model.Description" rows="3" cols="40"></textarea>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StyleName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
